.error{
    outline-color: #f00;
    border: 1px solid #f00;
    scale: 1.2;
    animation-name: err;
    animation: 1s;
}

.error:hover{
    outline-color: #00f;
    border: none;
    scale:none;
}

@keyframes err {
    
    50% {
        transform: rotate(-10deg) scale(1.05);
    }

    100% {
        transform: rotate(10deg) scale(1.1);
    }
}