<!-- HTML -->
<!DOCTYPE html>
<html lang="en">

<!-- Cabeza (codigo visible solo para el navegador) -->
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>

    <!-- Linkeado de css -->
    <link rel="stylesheet" href="../assets/css/style.css">

    <!-- Linkeado de iconos externos -->
    <!-- <script src="https://kit.fontawesome.com/bb68000e5f.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Scrollbar -->
    <link rel="stylesheet" href="../assets/css/scroll.css">

</head>

<body>

<div id="bodydiv">

    <!-- Sección de la izquierda -->
    <aside>

            <!-- Titulo -->
            <h1>FORMULARIO DE REGISTRO</h1>
    
            <figure id="icono">
    
    
                <div id="circle">
    
                    <div id="circle1">
    
                        <img src="../assets/img/user.svg" alt="Incono De Usuario.sgv" title="user">
        
                    </div>
    
                </div>
                
    
            </figure>
    
        </aside>

    <!-- Sección de la derecha -->
    <article>

        <!-- Formulario donde se van a ingresar los datos -->
        <!-- Aquí dentro se encuentran etiquetas "hijas directas" las cuales son hr div#inputs -->
        <form>
            
            <!-- Etiqueta div que contiene todo el "formulario" (hace las de form) -->
            <!-- cotiene:
            - Div con id "nomAPe" (div que contiene los input con sus label de nombre y apellido tipo text)
            - hr Divisorio con clase "division"
            - Div con id "otrosDatos" que contiene un div con id "doc" (tipo y numero de documento), 
                    input y label de email id "email" name "email",
                    Direccion id "address" name "address",
                    TelCelular id "cellphone" name "cellphone"
            - hr Divisorio con clase "division"
            - Div con id "timeColor" que contiene 
            -->
            <div id="inputs">

                <div id="nomApe">

                    <!-- Nombre -->
                    <!-- <label for="name">Nombre: </label> -->
                    <input type="text" value="" placeholder="Digitar Nombre" id="name" name="name" required />
                

                    <!-- Apellido -->
                    <!-- <label for="lastName">Apellido: </label> -->
                    <input type="text" value="" placeholder="Digitar Apellido" id="lastName" name="lastName" required />

                </div>

                <hr class="division">
                
                
                <!-- Se encuentra el tipo de documento, numero de documento, email, direccion y celular -->
                <div id="otrosDatos">

                    <!-- Datos relacionados con el documento de la persona (tipo doc y numero de doc)-->
                    <div id="doc">

                        <!-- Selecionar el tipo de documento -->
                        
                        <select name="typeDocument" id="typeDocument" required>

                            <!-- Opciones del input Select -->
                            <option value="0">TI</option>
                            <option value="1">CE</option>
                            <option value="2">CC</option>

                        </select>

                        <!-- Documento (Número) -->
                        <!-- <label for="document" class="document">Número Doc: </label> -->
                        <input type="number" value="" class="document"placeholder="Digitar Documento" id="document" name="document" required />

                    </div>

                    <!-- Email -->
                    <!-- <label class="email" for="email">Correo: </label> -->
                    <input class="email" type="email" value="" placeholder="Digitar Correo Electrónico" id="email" name="email" required />

                    <!-- Dirección -->
                    <!-- <label class="address" for="address">Dirección: </label> -->
                    <input class="address"type="text" value="" placeholder="Digitar Dirección" id="address" name="address" required />

                    <!-- TElefono Celular -->
                    <!-- <label class="cellphone"  for="cellphone">Celular: </label> -->
                    <input class="cellphone" type="tel" value="" placeholder="Digitar Celular" id="cellphone" name="cellphone" required />
                
                </div>

                <hr class="division">

                <!-- Se encuentran datos relacionados con fechas y el color -->
                <div id="timeColor">

                    <div id="time">
                        
                        <!-- Fecha -->
                        <!-- <label class="dateBir" for="birthdate">Fecha De Nacimiento: </label> -->
                        <input class="dateBir" type="date" value="" placeholder="Fecha de Nacimiento" id="birthdate" name="birthdate" required />

                        <!-- Tiempo (hora) -->
                        <!-- <label class="lunchTime" for="lunchTime">Hora Del Almuerzo: </label> -->
                        <input class="lunchTime" type="time" value="" id="lunchTime" name="lunchTime" required />
                        
                    </div>
                
                    <div id="colorDiv">

                        <!-- Color -->
                        <label for="color" id="colorLabel">Color Favorito: </label>
                        <input class="color" type="color" value="" id="color" name="color" required />

                    </div>

                </div>

                <hr class="division">

                <div id="generoDiv">

                    <label for="sex">Genero: </label>
                    <select name="sex" id="Genero" placeholder="Genero" required>

                        <option></option>
                        <option value="men"> Hombre</option>
                        <option value="women">Mujer</option>
                        <option value="other">Otro</option>

                    </select>

                </div>
               
                <hr class="division">
                
                <div id="userDiv">

                    <input type="text" value="" id="nameUser" name="nameUser" placeholder="Digite Su Nombre De Usuario" required/>
                    <input type="password" value="" id="password" name="password" placeholder="Digite Su Contraseña (Min 6 caracteres)" required />
                    <input type="password" value="" id="password" name="password" placeholder="Digite Nuevamente Su Contraseña" required />
                
                </div>

                <hr class="division">

                <div id="terminos">

                    <input type="checkbox" name="check" id="check">
                    <label for="check">Acepto los <a href="" target="_blank">terminos y condiciones</a></label>

                </div>


            </div>
            
            
            

        </form>

        <!-- Boton de subir -->
        <input type="submit" value="ENVIAR" id="btnSubmit" name="btnSubmit" required />

        
    </article>

</div>
    
</body>

<!-- script -->
<script src="../assets/js/script.js"></script>

</html>