<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutPut</title>

    <!-- Linkeado CSS principal -->
    <link rel="stylesheet" href="../assets/css/vista2.css">

    <!-- Linkeado para el scrollBar -->
    <link rel="stylesheet" href="../assets/css/scroll.css">

</head>
<body>

    <form action="" id="formulario1" onsubmit="validateData(this.id,event);">
        
        <input type="text" name="nombre" id="nombre">
        <input type="text" name="lastName" id="lastName">
        
        <!-- Subir -->
        <input type="submit" value="">

    </form>
    
</body>

    <!-- script -->
<script>

/* validateInput(a)

*/

    function validateInput(a) {
        if (a == '') {
            return false;
        } else {
            
            return true;
        }
}

/* validateData (objForm,e)

Se declara la función validar Dato la cual será ejecutada al "subir" el formulario con el botón input type submit
    
Esta función poseé dos parametros de entrada:

    - objForm: Recupila el "id" del botón.
    - e: recopila el objeto como tal del boton por el cuál se ejecuta la función (e.preventDefault();) con la cuál se busca que no se recargue la página

En esta misma función se declaran tres variables principales:
    - objFormulario: Recopila como tal el Formulario (DOOM).
    - auxiliar: Recopila todos los inputs.
    - validate: Poseé un valor Boleano el cual se usara para un condicional "if" en un futúro

Se declara un ciclo for el cuál se recorreara por todos los inputs que haya.
Dentro del ciclo se declara un condicional el cual valida que si el input (if(auxiliar[i].type == "submit")) corresponde a el "submit" (Botón de subir) alerte que es un boton,
    encambio si este no corresponde a la validacion anterior se haga otra validacion interna (if (validateInput(auxiliar[i].value))) que llama a otra función con un input (auxiliar[i].value) y con el output de esta se verá si se ejecuta o no,
    y esta validación es la que dictara el valor Boleano que tenga validar.
Luego de esto mismo tenemos otra validación dictada por un condicional if el cual dicta que si validar (validate) es verdadero
llame la función "getData();" (obtener Dato/obtener Valor) con un valor de entrada: objForm



    */

function validateData(objForm,e) {

        let objFormulario = document.getElementById(objForm),
        auxiliar = objFormulario.querySelectorAll('input'),
        validate = true;
        
    

        for (let i = 0; i < auxiliar.length; i++) {
            if(auxiliar[i].type == "submit") {
                alert('Es un boton')
            } else {
                
                if (validateInput(auxiliar[i].value)) {
                    // i = auxiliar.length
                    validate = true;
                } else {
                    validate = false;
                }
            }

            if (validate == true) {

                getData(objForm);
            }
        }

        // debugger;
        e.preventDefault();
    }
</script>
</html>